<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>This year</th>
      <th>Last year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test%>
    <% @test2 %>
    <% @user_infos.each do |user_info| %>
      <%= @test += user_info.Secondhalf_salary %>
    <% end %>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.this_year %></td>
        <td><%= company.last_year %></td>


        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <%= @test%>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
