<p id="notice"><%= notice %></p>

<p>
  <strong>This year:</strong>
  <%= @company.this_year %>
</p>

<p>
  <strong>Last year:</strong>
  <%= @company.last_year %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
