<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test4.name %>
</p>

<p>
  <strong>Test2:</strong>
  <%= @test4.test2_id %>
</p>

<%= link_to 'Edit', edit_test4_path(@test4) %> |
<%= link_to 'Back', test4s_path %>
