<%= form_with(model: master_family_allowance, local: true) do |form| %>
  <% if master_family_allowance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(master_family_allowance.errors.count, "error") %> prohibited this master_family_allowance from being saved:</h2>

      <ul>
      <% master_family_allowance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <table class ="seting">
      <tr>
        <td><%= form.label :index %></td>
        <td><%= form.number_field :index, id: :master_family_allowance_index %></td>
      </tr>
      <tr>
        <td>名前</td>
        <td><%= form.text_field :name, id: :master_family_allowance_name %></td>
      </tr>
      <tr>
        <td>手当</td>
        <td><%= form.number_field :allowance, id: :master_family_allowance_allowance %></td>
      </tr>
    </table>

  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
