<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @master_family_allowance.index %>
</p>

<p>
  <strong>Name:</strong>
  <%= @master_family_allowance.name %>
</p>

<p>
  <strong>Allowance:</strong>
  <%= @master_family_allowance.allowance %>
</p>

<%= link_to 'Edit', edit_master_family_allowance_path(@master_family_allowance) %> |
<%= link_to 'Back', master_family_allowances_path %>
