<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @master_additionalpoint.index %>
</p>

<p>
  <strong>Name:</strong>
  <%= @master_additionalpoint.name %>
</p>

<p>
  <strong>Allowance:</strong>
  <%= @master_additionalpoint.allowance %>
</p>

<%= link_to 'Edit', edit_master_additionalpoint_path(@master_additionalpoint) %> |
<%= link_to 'Back', master_additionalpoints_path %>
