<p id="notice"><%= notice %></p>

<h1>Metropolitans</h1>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Address</th>
      <th>Address allowance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @metropolitans.each do |metropolitan| %>
      <tr>
        <td><%= metropolitan.index %></td>
        <td><%= metropolitan.address %></td>
        <td><%= metropolitan.address_allowance %></td>
        <td><%= link_to 'Show', metropolitan %></td>
        <td><%= link_to 'Edit', edit_metropolitan_path(metropolitan) %></td>
        <td><%= link_to 'Destroy', metropolitan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Metropolitan', new_metropolitan_path %>
