<%= form_with(model: save_info, local: true) do |form| %>
  <% if save_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(save_info.errors.count, "error") %> prohibited this save_info from being saved:</h2>

      <ul>
      <% save_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <table class="ttt">
      <tr>
        <td><%= form.label :index %></td>
        <td style="width:30%;"><%= form.number_field :index, id: :save_info_index,:class=>"select"%></td>
      </tr>
      <tr>
        <td>氏名</td>
        <td><%= form.select :user_info_id,options_from_collection_for_select(UserInfo.all, :id,:name)%></td>
      </tr>
      <tr>
       <td>年</td>
       <td><%= form.number_field :year, id: :save_info_year,:class=>"select" %></td>
      </tr>

      <tr>
       <td>月</td>
       <td><%= form.number_field :month, id: :save_info_month ,:class=>"select"%></td>
     </tr>
</table>
</div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
