<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Undeviating
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140322

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1>Undeviating</h1>
		</div>
		<div id="menu">
			<ul>
				<li class="active"><%= link_to 'Users',user_infos_path %></li>
				<li><%= link_to 'Point', user_points_path %></li>
				<li><%= link_to 'Salary',save_infos_path %></li>
				<li><%= link_to 'Chart',chart_sample_index_path%></li>
			</ul>
		</div>
	</div>
</div>



<div class ="down-menu">
  <div class ="dropdown">
    <div class="dropbtn" style="margin-left: auto; margin-right: auto;">MasterData</div>
    <div class ="dropdown-content">
      <%= link_to '職位', master_positions_path %>
			<%= link_to '職種', master_jobs_path %>
			<%= link_to '加点', master_additionalpoints_path %>
			<%= link_to '家族手当', master_family_allowances_path %>
			<%= link_to '都市手当', master_metropolitions_path %>
			<%= link_to '基準', master_standards_path %>
    </div>
  </div>
</div>
<br>
<div class="wrapper">

<div id="welcome" class="container" style="width:98%;padding-left:1%;padding-right:1%">

<div class="title">
	  <h2>賃金情報</h2>
		<br>
		<br>
</div>
<table style="float:left">
<thead>
<tr>
<th  style="padding-top:5px; padding-left:5px"> Index</th>
<th style="padding-top:5px; padding-left:5px">氏名</th><!--usre_info_id/name-->
<th style="padding-top:5px; padding-left:5px">年</th><!--year-->
<th style="padding-top:5px; padding-left:5px">月</th><!--Month-->
<th style="padding-top:5px; padding-left:5px">基準給与</th><!--Basic age-->
<th style="padding-top:5px; padding-left:5px">職能給(基準)</th><!--Functional level-->
<th style="padding-top:5px; padding-left:5px">精勤手当</th><!--Normal working hour allowance-->
<th style="padding-top:5px; padding-left:5px">首都圏手当</th><!--Metropolitan allowance-->
<th style="padding-top:5px; padding-left:5px">基本給</th><!--Basic pay-->
<th style="padding-top:5px; padding-left:5px">時間単価</th><!--Hourly wage-->
<th style="padding-top:5px; padding-left:5px">残業単価</th><!--Extra work hourly wage-->
<th style="padding-top:5px; padding-left:5px">定額残業時間</th><!--Extra work time-->
<th style="padding-top:5px; padding-left:5px">定額残業代</th><!--Overtime pay-->
<th style="padding-top:5px; padding-left:5px">家族手当</th><!--Family allowance-->
<th style="padding-top:5px; padding-left:5px">額面給与</th><!--Face wage-->
<th style="padding-top:5px; padding-left:5px">差額</th><!--Difference-->
<th style="padding-top:5px; padding-left:5px">昇給率</th><!--Promotion rate-->
<th style="padding-top:5px; padding-left:5px">時給差額</th><!--Hourly difference-->
<th style="padding-top:5px; padding-left:5px">比率</th><!--Ratio-->
<th style="padding-top:5px; padding-left:5px">2018下期給与</th><!--half_salay-->
<th colspan="3"></th>
</tr>
</thead>

<tbody>
<% @save_infos.each do |save_info| %>
<tr>
<td><%= save_info.index %></td>
<td><%= save_info.user_info.name %></td>
<td><%= save_info.year %></td>
<td><%= save_info.month %></td>
<td><%= save_info.basic_age %></td>
<td><%= save_info.functional_level %></td>
<td><%= save_info.normal_working_hour_allowance %></td>
<td><%= save_info.metropolitan_allowance %></td>
<td><%= save_info.basic_pay %></td>
<td><%= save_info.hourly_wage %></td>
<td><%= save_info.extra_work_hourly_wage %></td>
<td><%= save_info.extra_work_time %></td>
<td><%= save_info.overtime_pay %></td>
<td><%= save_info.family_allowance %></td>
<td><%= save_info.face_wage %></td>
<td><%= save_info.difference %></td>
<td><%= save_info.promotion_rate %></td>
<td><%= save_info.hourly_difference %></td>
<td><%= save_info.ratio %></td>
<td><%= save_info.secondhalf_salay%></td>
<td><%= link_to 'Show', save_info %></td>
<td><%= link_to 'Edit', edit_save_info_path(save_info) %></td>
<td><%= link_to 'Destroy', save_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</tbody>
</table>


  <%= link_to 'new save info',new_save_info_path, class:"button2" %>


<!-- Add your site or app content here -->

</div>
</div>
</body>


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navbarFixedTopAnimation();
  });
</script>





</body>
</html>
