<p id="notice"><%= notice %></p>

<p>
  <strong>User info:</strong>
  <%= @save_info.user_info_id %>
</p>

<p>
  <strong>Index:</strong>
  <%= @save_info.index %>
</p>

<p>
  <strong>Year:</strong>
  <%= @save_info.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @save_info.month %>
</p>

<p>
  <strong>Basic age:</strong>
  <%= @save_info.basic_age %>
</p>

<p>
  <strong>Functional level:</strong>
  <%= @save_info.functional_level %>
</p>

<p>
  <strong>Normal working hour allowance:</strong>
  <%= @save_info.normal_working_hour_allowance %>
</p>

<p>
  <strong>Metropolitan allowance:</strong>
  <%= @save_info.metropolitan_allowance %>
</p>

<p>
  <strong>Basic pay:</strong>
  <%= @save_info.basic_pay %>
</p>

<p>
  <strong>Hourly wage:</strong>
  <%= @save_info.hourly_wage %>
</p>

<p>
  <strong>Extra work hourly wage:</strong>
  <%= @save_info.extra_work_hourly_wage %>
</p>

<p>
  <strong>Extra work time:</strong>
  <%= @save_info.extra_work_time %>
</p>

<p>
  <strong>Overtime pay:</strong>
  <%= @save_info.overtime_pay %>
</p>

<p>
  <strong>Family allowance:</strong>
  <%= @save_info.family_allowance %>
</p>

<p>
  <strong>Face wage:</strong>
  <%= @save_info.face_wage %>
</p>

<p>
  <strong>Difference:</strong>
  <%= @save_info.difference %>
</p>

<p>
  <strong>Promotion rate:</strong>
  <%= @save_info.promotion_rate %>
</p>

<p>
  <strong>Hourly difference:</strong>
  <%= @save_info.hourly_difference %>
</p>

<p>
  <strong>Ratio:</strong>
  <%= @save_info.ratio %>
</p>

<%= link_to 'Edit', edit_save_info_path(@save_info) %> |
<%= link_to 'Back', save_infos_path %>
