<p id="notice"><%= notice %></p>

<p>
  <strong>Position-id:</strong>
  <%= @user_info.position-id %>
</p>

<p>
  <strong>Job-id:</strong>
  <%= @user_info.job-id %>
</p>

<p>
  <strong>Index:</strong>
  <%= @user_info.index %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user_info.name %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @user_info.birth %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user_info.age %>
</p>

<p>
  <strong>Agep:</strong>
  <%= @user_info.ageP %>
</p>

<p>
  <strong>Age-adjustment:</strong>
  <%= @user_info.age-adjustment %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @user_info.insurance %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user_info.address %>
</p>

<p>
  <strong>Partner-num:</strong>
  <%= @user_info.partner-num %>
</p>

<p>
  <strong>Family-num:</strong>
  <%= @user_info.family-num %>
</p>

<p>
  <strong>Shorter-working-hour-ch:</strong>
  <%= @user_info.shorter-working-hour-ch %>
</p>

<p>
  <strong>Secondhalf-salary:</strong>
  <%= @user_info.Secondhalf-salary %>
</p>

<%= link_to 'Edit', edit_user_info_path(@user_info) %> |
<%= link_to 'Back', user_infos_path %>
