<%= form_with(model: user_point, local: true) do |form| %>
  <% if user_point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_point.errors.count, "error") %> prohibited this user_point from being saved:</h2>

      <ul>
      <% user_point.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <table class ="seting">
      <tr>
        <td><%= form.label :index %></td>
        <td></td>
        <td><%= form.number_field :index, id: :user_point_index %></td>
      </tr>
      <tr>
       <td><%= form.label :user_info_id %></td>
       <% user_array = UserInfo.all.map{
            |user_info| [user_info.name,user_info.id] } %>
        <td><%= select_tag(:user_info_id,options_for_select(user_array))%></td>
       <td><%= form.number_field :user_info_id, id: :user_point_user_info_id %></td>
     </tr>

     <tr>
       <td><%= form.label :master_additionalpoint_id %></td>
       <td></td>
       <td><%= form.number_field :master_additionalpoint_id, id: :user_point_master_additionalpoint_id %></td>
     </tr>

     <tr>
       <td><%= form.label :value %></td>
       <td></td>
       <td><%= form.number_field :value, id: :user_point_value %></td>
     </tr>

     <tr>
       <td><%= form.label :reason %></td>
       <td></td>
       <td><%= form.text_field :reason, id: :user_point_reason %></td>
     </tr>
   </table>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
