<%= form_with(model: master_position, local: true) do |form| %>
  <% if master_position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(master_position.errors.count, "error") %> prohibited this master_position from being saved:</h2>

      <ul>
      <% master_position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :master_position_name %>
  </div>

  <div class="field">
    <%= form.label :index %>
    <%= form.number_field :index, id: :master_position_index %>
  </div>

  <div class="field">
    <%= form.label :function_allowance %>
    <%= form.number_field :function_allowance, id: :master_position_function_allowance %>
  </div>

  <div class="field">
    <%= form.label :duty_allowance %>
    <%= form.number_field :duty_allowance, id: :master_position_duty_allowance %>
  </div>

  <div class="field">
    <%= form.label :deemded_overtime %>
    <%= form.number_field :deemded_overtime, id: :master_position_deemded_overtime %>
  </div>

  <div class="field">
    <%= form.label :standard_age %>
    <%= form.number_field :standard_age, id: :master_position_standard_age %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
