<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @master_position.name %>
</p>

<p>
  <strong>Index:</strong>
  <%= @master_position.index %>
</p>

<p>
  <strong>Function_allowance:</strong>
  <%= @master_position.function_allowance %>
</p>

<p>
  <strong>Duty_allowance:</strong>
  <%= @master_position.duty_allowance %>
</p>

<p>
  <strong>Deemded_overtime:</strong>
  <%= @master_position.deemded_overtime %>
</p>

<p>
  <strong>Standard_age:</strong>
  <%= @master_position.standard_age %>
</p>

<%= link_to 'Edit', edit_master_position_path(@master_position) %> |
<%= link_to 'Back', master_positions_path %>
