<%= form_with(model: master_additionalpoint, local: true) do |form| %>
  <% if master_additionalpoint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(master_additionalpoint.errors.count, "error") %> prohibited this master_additionalpoint from being saved:</h2>

      <ul>
      <% master_additionalpoint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <table class ="seting">
      <tr>
        <td><%= form.label :index %></td>
        <td><%= form.number_field :index, id: :master_additionalpoint_index %></td>
      </tr>
      <tr>
        <td><%=名前%></td>
        <td><%= form.text_field :name, id: :master_additionalpoint_name %></td>
      </tr>
      <tr>
        <td>手当</td>
        <td><%= form.number_field :allowance, id: :master_additionalpoint_allowance %></td>
      </tr>
    </table>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
