<p id="notice"><%= notice %></p>

<h1>Master Family Allowances</h1>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Name</th>
      <th>Allowance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @master_family_allowances.each do |master_family_allowance| %>
      <tr>
        <td><%= master_family_allowance.index %></td>
        <td><%= master_family_allowance.name %></td>
        <td><%= master_family_allowance.allowance %></td>
        <td><%= link_to 'Show', master_family_allowance %></td>
        <td><%= link_to 'Edit', edit_master_family_allowance_path(master_family_allowance) %></td>
        <td><%= link_to 'Destroy', master_family_allowance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Master Family Allowance', new_master_family_allowance_path %>
