<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @master_metropolition.index %>
</p>

<p>
  <strong>Name:</strong>
  <%= @master_metropolition.name %>
</p>

<p>
  <strong>Allowance:</strong>
  <%= @master_metropolition.allowance %>
</p>

<%= link_to 'Edit', edit_master_metropolition_path(@master_metropolition) %> |
<%= link_to 'Back', master_metropolitions_path %>
