<%= form_with(model: user_info, local: true) do |form| %>
  <% if user_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_info.errors.count, "error") %> prohibited this user_info from being saved:</h2>

      <ul>
      <% user_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <table class ="seting">

      <tr height="10%">
        <td height="20%" width ="70%">職位</td>
        <td height="80%" width = "30%"><%= form.select :master_position_id,options_from_collection_for_select(MasterPosition.all, :id,:name)%></td>
        <!--<td><%= form.number_field :master_position_id, id: :user_info_master_position_id %></td>-->
      </tr>
      <tr>
        <td>職種</td>
        <td><%= form.select :master_job_id, options_from_collection_for_select(MasterJob.all,:id,:name)%></td>
      </tr>
      <tr>
        <td>氏名</td>
        <td><%= form.text_field :name, id: :user_info_name ,:class=>"select"%></td>
      </tr>
      <tr>
        <td>生年月日</td>
        <td><%= form.number_field :birth, id: :user_info_birth ,:class=>"select"%></td>
      </tr>
      <tr>
        <td>年齢</td>
        <td><%= form.number_field :age, id: :user_info_age ,:class=>"select"%></td>
      </tr>
      <tr>
        <td>判定</td>
        <td><%= form.number_field :insurance, id: :user_info_insurance ,:class=>"select"%></td>
      </tr>
      <tr>
        <td>住居</td>
        <td><%= form.text_field :address, id: :user_info_address,:class=>"select" %></td>
      </tr>
      <tr>
        <td>扶養家族数 (配偶者)</td>
        <td><%= form.number_field :partner_num, id: :user_info_partner_num ,:class=>"select"%></td>
      </tr>
      <tr>
        <td>扶養家族数（子：18迄)</td>
        <td><%= form.number_field :family_num, id: :user_info_family_num ,:class=>"select"%></td>
      </tr>
      <tr>
        <td>時短勤務</td>
        <td><%= form.number_field :shorter_working_hour_ch, id: :user_info_shorter_working_hour_ch ,:class=>"select"%></td>
      </tr>
    </table>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
