<%= form_with(model: user_info, local: true) do |form| %>
  <% if user_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_info.errors.count, "error") %> prohibited this user_info from being saved:</h2>

      <ul>
      <% user_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :master_position_id %>
    <%= form.number_field :master_position_id, id: :user_info_master_position_id %>
  </div>

  <div class="field">
    <%= form.label :master_job_id %>
    <%= form.number_field :master_job_id, id: :user_info_master_job_id %>
  </div>

  <div class="field">
    <%= form.label :index %>
    <%= form.number_field :index, id: :user_info_index %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_info_name %>
  </div>

  <div class="field">
    <%= form.label :birth %>
    <%= form.number_field :birth, id: :user_info_birth %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :user_info_age %>
  </div>

  <div class="field">
    <%= form.label :ageP %>
    <%= form.number_field :ageP, id: :user_info_ageP %>
  </div>

  <div class="field">
    <%= form.label :age_adjustment %>
    <%= form.number_field :age_adjustment, id: :user_info_age_adjustment %>
  </div>

  <div class="field">
    <%= form.label :insurance %>
    <%= form.number_field :insurance, id: :user_info_insurance %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :user_info_address %>
  </div>

  <div class="field">
    <%= form.label :partner_num %>
    <%= form.number_field :partner_num, id: :user_info_partner_num %>
  </div>

  <div class="field">
    <%= form.label :family_num %>
    <%= form.number_field :family_num, id: :user_info_family_num %>
  </div>

  <div class="field">
    <%= form.label :shorter_working_hour_ch %>
    <%= form.number_field :shorter_working_hour_ch, id: :user_info_shorter_working_hour_ch %>
  </div>

  <div class="field">
    <%= form.label :Secondhalf_salary %>
    <%= form.number_field :Secondhalf_salary, id: :user_info_Secondhalf_salary %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
