<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Undeviating
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140322

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1>Undeviating</h1>
		</div>
		<div id="menu">
			<ul>
				<li class="active"><%= link_to 'Users', user_infos_path %></li>
				<li><%= link_to 'Point', user_points_path %></li>
				<li><%= link_to 'Salary',save_infos_path %></li>
				<li><%= link_to 'Chart',chart_sample_index_path%></li>
			</ul>
		</div>
	</div>
</div>



<div class ="down-menu">
  <div class ="dropdown">
    <div class="dropbtn" style="margin-left: auto; margin-right: auto;">MasterData</div>
    <div class ="dropdown-content">
			<%= link_to '職位', master_positions_path %>
			<%= link_to '職種', master_jobs_path %>
			<%= link_to '加点', master_additionalpoints_path %>
			<%= link_to '家族手当', master_family_allowances_path %>
			<%= link_to '都市手当', master_metropolitions_path %>
			<%= link_to '基準', master_standards_path %>
    </div>
  </div>
</div>
<br>
<div class="wrapper">

<div id="welcome" class="container">

<div class="title">
	  <h2>個人情報</h2>
		<br>
		<br>
</div>
   <table style="margin-left: auto; margin-right: auto;">
   <thead>
     <tr>
       <th style="padding-top:5px; padding-left:5px">Index</th>
			 <th style="padding-top:5px; padding-left:5px">職位</th><!--position-->
			 <th style="padding-top:5px; padding-left:5px">職種</th><!--job-->
       <th style="padding-top:5px; padding-left:5px">氏名</th><!--name-->
       <th style="padding-top:5px; padding-left:5px">生年月日</th><!--birth-->
       <th style="padding-top:5px; padding-left:5px">年齢</th><!--Age-->
       <th style="padding-top:5px; padding-left:5px">年齢-P</th><!--Agep-->
       <th style="padding-top:5px; padding-left:5px">年齢調整</th><!--Age adjustment-->
       <th style="padding-top:5px; padding-left:5px">判定</th><!--insurance-->
       <th style="padding-top:5px; padding-left:5px">住居</th><!--address-->
       <th style="padding-top:5px; padding-left:5px">扶養家族数 (配偶者)</th><!--partner-->
       <th style="padding-top:5px; padding-left:5px">扶養家族数（子：18迄)</th><!--family-->
       <th style="padding-top:5px; padding-left:5px">時短勤務</th><!--shorterworking-->
       <th colspan="3"></th>
     </tr>
   </thead>
   <tbody>
   <% @user_infos.each do |user_info| %>
     <tr>
       <td><%= user_info.index %></td>
			 <td><%= user_info.master_position.name%></td>
       <td><%= user_info.master_job.name%></td>
       <td><%= user_info.name %></td>
       <td><%= user_info.birth %></td>
       <td><%= user_info.age %></td>
       <td><%= user_info.ageP %></td>
       <td><%= user_info.age_adjustment %></td>
       <td><%= user_info.insurance %></td>
       <td><%= user_info.address %></td>
       <td><%= user_info.partner_num %></td>
       <td><%= user_info.family_num %></td>
       <td><%= user_info.shorter_working_hour_ch %></td>
       <td><%= link_to 'Show', user_info%></td>
       <td><%= link_to 'Edit', edit_user_info_path(user_info) %></td>
       <td><%= link_to 'Destroy', user_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     </tr>
  <% end %>
  </tbody>
  </table>

  <%= link_to 'new user info',new_user_info_path, class:"button2" %>


<!-- Add your site or app content here -->

</div>
</div>
</body>


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navbarFixedTopAnimation();
  });
</script>





</body>
</html>
