<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Undeviating
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140322

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Undeviating</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="active"><a href="#" accesskey="1" title="">Homepage</a></li>
				<li><a href="#" accesskey="2" title="">Our Clients</a></li>
				<li><a href="#" accesskey="3" title="">About Us</a></li>
				<li><a href="#" accesskey="4" title="">Careers</a></li>
			</ul>
		</div>
	</div>
</div>



<div class ="down-menu">
  <div class ="dropdown">
    <div class="dropbtn" style="margin-left: auto; margin-right: auto;">MasterData</div>
    <div class ="dropdown-content">
      <%= link_to 'Position', master_positions_path %>
			<%= link_to 'Jobs', master_jobs_path %>
			<%= link_to 'additionalpoints', master_additionalpoints_path %>
			<%= link_to 'family', master_family_allowances_path %>
			<%= link_to 'metropolition', master_metropolitions_path %>
			<%= link_to 'standards', master_standards_path %>
    </div>
  </div>
		<%= link_to 'salary',save_infos_path, class:"button" %>
</div>
<br>
<div class="wrapper">

<div id="welcome" class="container">

<div class="title">
	  <h2>Employee Informations</h2>
		<br>
		<br>
</div>
   <table style="margin-left: auto; margin-right: auto;">
   <thead>
     <tr>
       <th>Index</th>
       <th>Name</th>
       <th>Birth</th>
       <th>Age</th>
       <th>Agep</th>
       <th>Age adjustment</th>
       <th>Insurance</th>
       <th>Address</th>
       <th>Partner num</th>
       <th>Family num</th>
       <th>Shorter working hour ch</th>
       <th>Secondhalf salary</th>
       <th colspan="3"></th>
     </tr>
   </thead>
   <tbody>
   <% @user_infos.each do |user_info| %>
     <tr>
       <td><%= user_info.index %></td>

       <td><%= user_info.name %></td>
       <td><%= user_info.birth %></td>
       <td><%= user_info.age %></td>
       <td><%= user_info.ageP %></td>
       <td><%= user_info.age_adjustment %></td>
       <td><%= user_info.insurance %></td>
       <td><%= user_info.address %></td>
       <td><%= user_info.partner_num %></td>
       <td><%= user_info.family_num %></td>
       <td><%= user_info.shorter_working_hour_ch %></td>
       <td><%= user_info.Secondhalf_salary %></td>
       <td><%= link_to 'Show', user_info %></td>
       <td><%= link_to 'Edit', edit_user_info_path(user_info) %></td>
       <td><%= link_to 'Destroy', user_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     </tr>
  <% end %>
  </tbody>
  </table>

  <%= link_to 'new user info',new_user_info_path, class:"button" %>


<!-- Add your site or app content here -->

</div>
</div>
</body>


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navbarFixedTopAnimation();
  });
</script>





</body>
</html>
