<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @user_info.index %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user_info.name %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @user_info.birth %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user_info.age %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @user_info.insurance %>
</p>

<p>
  <strong>Job:</strong>
  <%= @user_info.job_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user_info.address %>
</p>

<p>
  <strong>Wife:</strong>
  <%= @user_info.wife %>
</p>

<p>
  <strong>Family:</strong>
  <%= @user_info.family %>
</p>

<p>
  <strong>Position:</strong>
  <%= @user_info.position_id %>
</p>

<p>
  <strong>Family allowance:</strong>
  <%= @user_info.family_allowance_id %>
</p>

<p>
  <strong>Metropolitan allowance:</strong>
  <%= @user_info.metropolitan_allowance_id %>
</p>

<p>
  <strong>Standard:</strong>
  <%= @user_info.standard_id %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @user_info.salary_id %>
</p>

<%= link_to 'Edit', edit_user_info_path(@user_info) %> |
<%= link_to 'Back', user_infos_path %>
