<p id="notice"><%= notice %></p>

<p>
  <strong>Master position:</strong>
  <%= @user_info.master_position_id %>
</p>

<p>
  <strong>Master job:</strong>
  <%= @user_info.master_job_id %>
</p>

<p>
  <strong>Index:</strong>
  <%= @user_info.index %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user_info.name %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @user_info.birth %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user_info.age %>
</p>

<p>
  <strong>Agep:</strong>
  <%= @user_info.ageP %>
</p>

<p>
  <strong>Age adjustment:</strong>
  <%= @user_info.age_adjustment %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @user_info.insurance %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user_info.address %>
</p>

<p>
  <strong>Partner num:</strong>
  <%= @user_info.partner_num %>
</p>

<p>
  <strong>Family num:</strong>
  <%= @user_info.family_num %>
</p>

<p>
  <strong>Shorter working hour ch:</strong>
  <%= @user_info.shorter_working_hour_ch %>
</p>

<p>
  <strong>Secondhalf salary:</strong>
  <%= @user_info.Secondhalf_salary %>
</p>

<%= link_to 'Edit', edit_user_info_path(@user_info) %> |
<%= link_to 'Back', user_infos_path %>
