<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Undeviating
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140322

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1>Undeviating</h1>
		</div>
		<div id="menu">
			<ul>
				<li class="active"><%= link_to 'Users',user_infos_path %></li>
				<li><%= link_to 'Point', user_points_path %></li>
				<li><%= link_to 'Salary',save_infos_path %></li>
				<li><%= link_to 'Chart',chart_sample_index_path%></li>
			</ul>
		</div>
	</div>
</div>



<div class ="down-menu">
  <div class ="dropdown">
    <div class="dropbtn" style="margin-left: auto; margin-right: auto;">MasterData</div>
    <div class ="dropdown-content">
			<%= link_to '職位', master_positions_path %>
			<%= link_to '職種', master_jobs_path %>
			<%= link_to '加点', master_additionalpoints_path %>
			<%= link_to '家族手当', master_family_allowances_path %>
			<%= link_to '都市手当', master_metropolitions_path %>
			<%= link_to '基準', master_standards_path %>
    </div>
  </div>
</div>
<br>
<div class="wrapper">

<div id="welcome" class="container">

<div class="title">
	  <h2>職種</h2>
		<br>
		<br>
</div>
<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>名前</th>
      <th>手当</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @master_jobs.each do |master_job| %>
      <tr>
        <td><%= master_job.index %></td>
        <td><%= master_job.name %></td>
        <td><%= master_job.allowance %></td>
        <td><%= link_to 'Show', master_job %></td>
        <td><%= link_to 'Edit', edit_master_job_path(master_job) %></td>
        <td><%= link_to 'Destroy', master_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Master Job', new_master_job_path , class:"button2"%>
<!-- Add your site or app content here -->

</div>
</div>
</body>


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navbarFixedTopAnimation();
  });
</script>





</body>
</html>
